<h1 class="current-category"><%= params[:category] %></h1>

<% if @visuals.count == 0 %>
  <h1>There are currently no visuals in this category.</h1>
<% else %>
  <div class="row">
    <% @visuals.each do |visual| %>
    <div class="col-md-3">
      <a href="/visuals/<%= visual.id %>">
        <%= image_tag visual.visual_img.url(:visual_index), class: "visual" %>
      </a>
    </div>
  <% end %>
  </div>
<% end %>