<p><%= review.rating %></p>
<p><%= review.comment %></p>

<% if user_signed_in? %>
  <% if review.user_id == current_user_id %>
    <%= link_to 'Edit', edit_visual_review_path(review.visual, review) %>
    <%= link_to 'Delete', visual_review_path(review.visual, review), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>